/* --------------------------- */
/* Appliqué Partout */
/* --------------------------- */
* {
  font-family: Arial;
  /* box-sizing: border-box; */
}

body {
  background-color: rgb(84, 58, 163);
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

/* --------------------------- */
/* MAIN - GENERAL */
/* --------------------------- */

h1 {
  font-size: 22px;
  margin-bottom: 20px;
}

form {
  border: 1px solid blue;
  border-radius: 10px;
  width: auto;
  margin-top: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(204, 204, 204);
  justify-content: center;
  align-items: center;
}

form input {
  height: 40px;
  width: 420px;
  margin-bottom: 15px;
  font-size: 18px;
}

input:focus,
textarea:focus {
  outline: none;
}

form textarea {
  height: 200px;
  width: 420px;
  border: none;
  font-size: 18px;
}

form button {
  color: white;
  background-color: rgb(84, 58, 163);
  border: solid rgb(84, 58, 163) 1px;
  border-radius: 5px;
  font-size: 20px;
  height: 50px;
  width: 420px;
  margin-top: 15px;
}
form button:hover {
  opacity: 0.7;
}
